.img-slide{
    object-fit: cover;
    /* width: 100px; */
    aspect-ratio: 3/2;
    /* object-fit: con; */
    mix-blend-mode: color-burn;
}

.alice-carousel__dots{
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    top: 40%; right: 5%;
  transform: translate(50%,-20%);
}

.alice-carousel__dots-item:not(.__custom) {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 0 !important;
    background-color: #e0e4fb;
}
.alice-carousel__prev-btn, .alice-carousel__next-btn{
    position: absolute;
    right: 5%;
}
.alice-carousel__prev-btn{
    top: 30%;
}
.alice-carousel__next-btn{
    text-align: right;
    bottom: 30%;
}
.alice-carousel__prev-btn-item, .alice-carousel__next-btn-item{
    transform: rotate(90deg);
    background-color: white;
    font-size: 1.1rem;
    /* padding:  0.5rem ;
    width: 30px;
    height: 30px; */
}
.alice-carousel__prev-btn-item span{

    /* width: 30px;
    height: 50px; */
}
.alice-carousel__prev-btn-item span::after{
    content: "<" !important;
    /* width: 30px;
    height: 40px; */
    /* background-color: red; */
}

/* .alice-carousel__dots-item:not(.__custom)  */

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
    background-color: #ec670f;
}