:root {
  --bluePrimary : #0C1F3C;
  --blueAccent : #2359AD;
  --blueSecondary : #006FCE;
  --greyPrimary : #F2F2F2;
  --greySecondary : #E2E2E2 ;
  --white : #FFF;

}

a.active{
  border-bottom: 3.5px solid #0C1F3C;
}

.bg-contacts{
  background-color: var(--blueSecondary);
}

.input{
  all: "unset";
  background-color: "#fff";
  padding:10px 20px;
  font-size: 14;
}
@import "react-alice-carousel/lib/alice-carousel.css";