:root {
  --bluePrimary : #0C1F3C;
  --blueAccent : #2359AD;
  --blueSecondary : #006FCE;
  --greyPrimary : #F2F2F2;
  --greySecondary : #E2E2E2 ;
  --white : #FFF;

}

.bg-contacts{
  background-color: var(--blueSecondary);
}
@import "react-alice-carousel/lib/alice-carousel.css";